body {
    background-color: #282c34;
    color: antiquewhite;
}

.left-align {
    position: relative;
    float: left;
}

.right-align {
    position: relative;
    float: right;
}

.box {
    border-style: solid;
    padding: 10px;
    margin: 10px;
}

h1 {
    color: cornflowerblue;
    margin: 10px;
}

h3 {
    color: burlywood;

}